body{
    padding: 10px 150px 100px 150px;
    background-color: #3F4B50;
}

a{
    text-decoration: none;
}

b{
    background-color: #fb5;
}

b:hover{
    background-color: yellow;
}

p{
    line-height: 30px;
}

header{
    background-color: #333344;
    position: relative;
    padding: 50px 0 0 0;
}

nav{
    height: 23px;
    background-color: #778899;
    padding-left: 50px;
}

.navigation{
   /*background-image: url(../images/slideshow.gif);
   position: relative;
   bottom: 0;*/
   height: 23px;
   background-color: #778899;
   /*margin: 0;*/
}

#nav-list{
    list-style: none;
    
}

#nav-list li{
    float: left;
    /*margin: 6px 10px 6px 10px;*/
   
    /*border-left: 1px white solid;
    border-right: 1px white solid;*/
}

nav a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding:0 15px 0 15px;
    height: 23px; 
    /*line-height: 20px;
    padding: 0 10px 0 10px; */
}

nav a:hover{
    background-color: #fb5;
}

#nav-list li a{
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 10px 0 10px;
}

#nav-list li:hover{
    /*background-image: url(../images/navbar.gif);*/
    background-color: #fb5;
}

.singerBox{
    float: right;
}

.content{
    background-color: #EEDDCC;
    padding: 20px 150px 20px 150px;
}

#previewSingerImg{
    /*height: 150px;
    width:150px;*/
    position: absolute;
    top: 0;
    left: 0;
}

.current-li{
     background-image: url(../images/navbar.gif);
}

#previewBox{
    position: relative;
    height: 150px;
    width:150px;
    overflow: hidden;
}
